<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@600&family=Inter:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/llogo.png') }}" alt="Himanshu Hospital Logo">
            <h1>HIMANSHU HOSPITAL</h1>
        </div>
        <a href="#" class="appointment-button">Appointment</a>
    </header>

    <main>
        <section class="intro">
            <h2>Welcome, {{ username }}</h2>
            <p>
                Established by Dr. Himanshu Deshmukh in 1983, Himanshu Hospitals has a robust presence across the healthcare ecosystem.
                Himanshu Hospitals has touched more than 200 million lives from over 150 countries.
            </p>
        </section>

        <section class="button-container">
            <a href="{{ url_for('data') }}" class="btn">Data</a>
            <a href="{{ url_for('patient_form') }}" class="btn">Form</a>
            <a href="{{ url_for('prescriptions') }}" class="btn">Prescriptions</a>
        </section>

        <!-- New Section: Icon Boxes -->
        <section class="content">
            <div class="icon-box">
                <a href="{{ url_for('patient_form') }}">
                    <img src="{{ url_for('static', filename='images/data.png') }}" alt="Data Icon">
                    <h3>DATA</h3>
                    <p>See What You Submitted</p>
                </a>
            </div>
            <div class="icon-box">
                <a href="{{ url_for('data') }}">
                    <img src="{{ url_for('static', filename='images/form.png') }}" alt="Form Icon">
                    <h3>FORM</h3>
                    <p>Keep Your Data Safe with us!</p>
                </a>
            </div>
            <div class="icon-box">
                <a href="{{ url_for('prescriptions') }}">
                    <img src="{{ url_for('static', filename='images/pills.png') }}" alt="Meds Icon">
                    <h3>MEDS</h3>
                    <p>Take These Drugs!</p>
                </a>
            </div>
        </section>

        <section class="image-section">
            <img src="{{ url_for('static', filename='images/doc_soht.png') }}" alt="Doc">
        </section>
    </main>
</body>
</html>